jobs:
  build:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run:
          name: Variables
          command: | 
            -Dsonar.projectKey=12345
      - sonarcloud/scan
orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.3
version: 2.1
workflows:
  main:
    jobs:
      - build:
          context: sonarcloud
