jobs:
  sonarcloud:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - sonarcloud/scan
  test2:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run: npm install
      - snyk/scan
  build:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run: npm install
      - run: npm start
  test:
    docker:
      - image: 'node:latest'
    steps:
      - run: npm install -g jest
      - run:
          name: Install JUnit coverage reporter
          command: yarn add --dev jest-junit
      - run:
          name: Run tests with JUnit as reporter
          command: jest --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/


   
orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.3
  snyk: snyk/snyk@1.1.2
version: 2.1
workflows:
  main:
    jobs:
      # - sonarcloud:
        #  context: SonarCloud
      #- test2
       - build
         # requires: 
           # - sonarcloud
      # - test
          # requires: 
            # - build
