jobs:
  sonarcloudTest:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - sonarcloud/scan
      - run: mkdir reports
      - store_test_results:
          path: ./reports/
  snykTest:
    docker:
      - image: 'cimg/node:17.8.0'
    steps:
      - checkout
      - run: npm install
      - snyk/scan
  build:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run: npm install
      - run: npm start
  test:
    docker:
      - image: 'cimg/node:17.8.0-browsers'
    steps:
      - checkout
      - run: npm install
      - run: npm install -g @angular/cli
      - run: npm test
 
orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.3
  snyk: snyk/snyk@1.1.2
version: 2.1
workflows:
  main:
    jobs:
      - sonarcloudTest:
          context: SonarCloud
      - snykTest:
          context: Snyk
      - build:
          requires: 
            - sonarcloudTest
            - snykTest
      - test:
          context: Test
          requires: 
             - build
