jobs:
  sonarcloud:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - sonarcloud/scan
  test2:
    docker:
      - image: 'node:latest'
    steps:
      - checkout
      - run: npm ci
      - snyk/scan
  build:
    docker:
      -image: 'node:latest'
    steps:
      - checkout
      - run: 
          name: build
          command: | 
            npm install
            # npm start
   
orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.3
  snyk: snyk/snyk@1.1.2
version: 2.1
workflows:
  main:
    jobs:
      - sonarcloud:
          context: SonarCloud
      - test2
      - build:
          requires: 
            - sonarcloud
